<!DOCTYPE html>
<html lang="pt_BR">
<head>
<style>
.valor{width:15%;}
.descricao{width:55%;}
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Orçamento</title>
</head>
<body id="page-top">
<div id="orcamento" class="container" style="display:none;" contenteditable>
<table class="table">
<thead>
<tr>
<th scope="col" style="vertical-align: middle;"><img src="" id="logo" style="width:120px;" /></th>
<th scope="col" style="vertical-align: middle;">
<div id="nom"></div>
<div id="endr"></div>
<div id="cnpj"></div>
<div id="cont"></div>
<div id="emai"></div>
</th>
<th scope="col"></th>
<th scope="col" style="vertical-align:top" id="inf">	  
</th>
</tr>
</thead>
</table>
<table class="table">
<thead>
<tr>
<th scope="col">Cliente</th>
<th scope="col">Endereço</th>
<th scope="col">Contato</th>
</tr>
</thead> 
<tbody>
<tr>
<td id="icliente"></td>
<td id="iendereco"></td>
<td id="icontato"></td>
</tr>
</tbody>
</table>
<table class="table">
<caption><h2 align="center"><strong>Orçamento</strong></h2></caption>
<thead>
<tr>
<th scope="col" class="descricao">Descrição</th>
<th scope="col" class="valor">Quantidade</th>
<th scope="col" class="valor">Valor unitário</th>
<th scope="col" class="valor">Valor total</th>
</tr>
</thead>
<tbody id="itens">
</tbody>
</table>
<table class="table">
<tr>
<td>
<div id="pag">
</div>
<p>
</p>
<div id="fpag">
</div>
</td>
<td style="text-align:right;">
<h4><strong id="isubtotal"></strong></h4>
<div id="idesconto"></div>
<h4><strong id="ivalortotal"></strong></h4><td/>
</tr>
</table>
<div align="center">
<h3>Obrigado por solicitar este orçamento!</h3>
<p>Deixe sempre seu comentário sobre valores e condições para que possamos sempre melhorar.<p/>
</div>
</div>
</body>
</html>
